*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

@keyframes kuch {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.last{
    animation: kuch;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}